* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  /* background-image: url('../../images/download\ \(6\).jpeg'); */
  /* background-size: cover; */
  /* background: ; */
  text-align: center;
  vertical-align: middle;
}

.card {
  width: 50%;
  height: 254px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  margin: 2% auto 5%;
  text-align: center;
  vertical-align: middle;
}

button {
  padding: 10px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
}

button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}